<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="ddd-command">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./app" />
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
        <exclude>
            <directory suffix=".php">./vendor/</directory>
        </exclude>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="ddd-command"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>